@model Mills_4800.Models.FlightDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FlightDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberOfTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfTickets)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.flightDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
